.App {
  background-color: #1e1e1e;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}
.card {
  width: 18rem;
  background-color: transparent;
  color: grey;
}

.wrapper {
  margin: 0px auto;
  justify-content: space-evenly;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.card:hover {
  transform: scale(1.05);
  background-color: rgb(37, 73, 255);
  color: white;
  cursor: pointer;
}
#r-m{
  color: red;
}
.btn{
  padding: 10px;
  color: rgb(255, 251, 0);
  border: 1px solid white;
}
.loading {
  color: #37ff00;
  text-align: center;
  margin-top: 50px;
}
h2{
  color: 
  rgba(255, 255, 255, 1);
  margin-left: 1rem;
  /* margin-top: 1rem;} */}
.line{
  border-bottom: solid 1px rgba(255, 255, 255, 1);
}